/*Start body*/
body{
    background-color: rgb(184, 252, 231);
    background-image: url(../images/background-bunga.jpg);
    background-size: 100%;
    font-family: 'Be Vietnam', sans-serif;
 

}
.judul {
    font-size: 50px;
    text-align:center;
    color: Black;
}

.bg-red{
    background-color: rgb(199, 199, 199);
    opacity: 0.6;
    font-size: 30px;
   
}
.center {
    text-align: center;
}
.foto{
    margin-left:545px;
}
.foto1{
    margin-left:650px;
}
.jumbotron{
    padding:40px;
}